<section id="about" class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left">
                <img src="{% static 'style/img/House.png' %}" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right">
                <h3>Bog'chaga qabul jarayoni</h3>
                <p class="fst-italic">
                    Biz bilan bog'laning va o'ziningizning izohingizni kontakt orqali bizga jo'nating
                </p>
                <ul>
                    <li><i class="bi bi-check-circle"></i>
                        Farzandlaringizni xavfsizligi!
                    </li>
                    <li><i class="bi bi-check-circle"></i>
                        Farzandiginizga mos taomlar!
                    </li>
                    <li><i class="bi bi-check-circle"></i>
                        Malakali tarbiyachilar
                    </li>
                    <li><i class="bi bi-check-circle"></i>
                        Sport mashg'ulotlar
                    </li>
                    <li><i class="bi bi-check-circle"></i>
                        Bolalarga xos bo'lgan quvnoq o'yinlar
                    </li>
                </ul>
                <p>
                    Biz bilan bog'lanchi bo'lsangiz kontakt orqali bizning telefonimizga ulaning, agar yoki
                    qandaydir muammo yoki o'z
                    fikringiz bo'lsa bizga saytdagi kontakt orqali o'z ma'lumotlaringizni yetkazishingiz mumkin.
                    E'tiboringiz uchun rahmat
                </p>
            </div>
        </div>

    </div>
</section>