<!DOCTYPE html>

{% load static %}

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Bolalar-Bog'chasi</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="{% static 'style/img/Favicon.png' %}" rel="icon">
    <link href="{% static 'style/img/AppleTouchIcon.png' %}" rel="apple-touch-icon">

    <!-- Vendor CSS Files -->
    <link href="{% static 'style/vendor/aos/aos.css' %}" rel="stylesheet">
    <link href="{% static 'style/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'style/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'style/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'style/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'style/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{% static 'style/css/style.css' %}" rel="stylesheet">

</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

        <h1 class="logo"><a href="#about">Bolalar-Bog'chasi</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo"><img src="style/img/logo.png" alt="" class="img-fluid"></a>-->

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link {% if request.path == '/' %}active{% endif %}" href="#about">Bosh
                    sahifa</a></li>
                <li><a class="nav-link scrollto" href="{% url 'staff' %}">Hodimlar</a></li>
                <li><a class="nav-link scrollto" href="{% url 'news' %}">Yangiliklar</a></li>
                <li><a class="nav-link scrollto " href="{% url 'galary' %}">Gallereya</a></li>
                <li><a class="nav-link scrollto" href="{% url 'contact' %}">Kontakt</a></li>
                <li><a class="nav-link scrollto" href="/admin/" target="_blank">Admin</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
        <h1>{{ Banner.title|default:"-" }}</h1>
        {% if Banner.message is not None %}
            <h2>{{ Banner.message }}</h2>
        {% endif %}
    </div>
</section><!-- End Hero -->

<main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left">
                    <img src="{% static 'style/img/House.png' %}" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right">
                    <h3>Bog'chaga qabul jarayoni</h3>
                    <p class="fst-italic">
                        Biz bilan bog'laning va o'ziningizning izohingizni kontakt orqali bizga jo'nating
                    </p>
                    <ul>
                        <li><i class="bi bi-check-circle"></i>
                            Farzandlaringizni xavfsizligi!
                        </li>
                        <li><i class="bi bi-check-circle"></i>
                            Farzandiginizga mos taomlar!
                        </li>
                        <li><i class="bi bi-check-circle"></i>
                            Malakali tarbiyachilar
                        </li>
                        <li><i class="bi bi-check-circle"></i>
                            Sport mashg'ulotlar
                        </li>
                        <li><i class="bi bi-check-circle"></i>
                            Bolalarga xos bo'lgan quvnoq o'yinlar
                        </li>
                    </ul>
                    <p>
                        Biz bilan bog'lanchi bo'lsangiz kontakt orqali bizning telefonimizga ulaning, agar yoki
                        qandaydir muammo yoki o'z
                        fikringiz bo'lsa bizga saytdagi kontakt orqali o'z ma'lumotlaringizni yetkazishingiz mumkin.
                        E'tiboringiz uchun rahmat
                    </p>
                </div>
            </div>

        </div>
    </section>
    <!-- End About Section -->
    <hr>
    <section id="news" class="news">  <!--Yangiliklar-->
        <div class="container">
            <div class="section-title">
                <span>Yangiliklar</span>
                <h2>Yangiliklar</h2>
                <p>Bu yerda barcha bog'chadagi yangiliklar guvohi bo'lishingiz mumkin</p>
            </div>

            <div class="row">
                {% for EachNews in News %}
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                        <div class="icon-box">
                            <img src="{{ EachNews.image.url }}" class="img-thumbnail" alt=""
                                 style="height: 300px">
                            <h4>{{ EachNews.title|default:"-" }}</h4>
                            <p>{{ EachNews.message|default:"-" }}</p>
                        </div>
                    </div>
                {% empty %}
                    <div class="text-position" data-aos="fade-right" data-aos-delay="100">
                        <p>Ayni damda hech qanday yangilik yo'q</p>
                    </div>
                {% endfor %}
            </div>

        </div>
    </section><!-- End Services Section -->
    <hr>
    <section id="portfolio" class="portfolio"> <!--Rasmlar-->
        <div class="container">
            <div class="section-title">
                <span>Gallereya</span>
                <h2>Gallereya</h2>
                <p>Bu yerda barcha foto va rasmlarni ko'rishinigiz mumkin</p>
            </div>

            <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="150">
                {% for EachGalary in Galary %}
                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                        <img src="{{ EachGalary.photo.url }}" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>{{ EachGalary.main_title|default:"-" }}</h4>
                            {% if EachGalary.title is not None %}
                                <p>{{ EachGalary.title }}</p>
                            {% endif %}

                            <a href="{{ EachGalary.photo.url }}" data-gallery="portfolioGallery"
                               class="portfolio-lightbox preview-link" title="{{ EachGalary.message|default:"" }}"><i
                                    class="bx bx-plus"></i></a>
                        </div>
                    </div>
                {% empty %}
                    <div class="text-position" data-aos="fade-right" data-aos-delay="100">
                        <p>Ayni damda hech qanday rasm yo'q</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section><!-- End Portfolio Section -->
    <hr>
    <section id="team" class="team">  <!--HODIMLAR-->
        <div class="container">
            <div class="section-title">
                <span>Hodimlar</span>
                <h2>Hodimlar</h2>
                <p>Bu yerda bog'chaning hodimlarini kuzatishinigiz mumkin.</p>
            </div>

            <div class="row">
                {% for EachStaff in Staff %}
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in">
                        <div class="member">
                            <img src="{{ EachStaff.photo.url }}" alt="invalid loading photo">
                            <h4>{{ EachStaff.main_title }}</h4>
                            <span>{{ EachStaff.title }}</span>
                            <p>
                                {{ EachStaff.info }}
                            </p>

                            <div class="social">
                                {% if EachStaff.twitter is not None %}
                                    <a href="{{ EachStaff.twitter }}" target="_blank"><i class="bi bi-twitter"></i></a>
                                {% endif %}

                                {% if EachStaff.facebook is not None %}
                                    <a href="{{ EachStaff.facebook }}" target="_blank"><i
                                            class="bi bi-facebook"></i></a>
                                {% endif %}

                                {% if EachStaff.instagram is not None %}
                                    <a href="{{ EachStaff.instagram }}" target="_blank"><i class="bi bi-instagram"></i></a>
                                {% endif %}

                                {% if EachStaff.linkedin_box is not None %}
                                    <a href="{{ EachStaff.linkedin_box }}" target="_blank"><i
                                            class="bi bi-linkedin"></i></a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <div class="text-position" data-aos="fade-right" data-aos-delay="100">
                        <p>Ayni damda hech qanday hodim topilmadi!</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section><!-- End Team Section -->
</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 d-flex align-items-stretch">
                    <div class="footer-info">
                        <img src="{% static 'style/img/Toy.png' %}" class="img-fluid" alt="">
                        <br>
                        <br>
                        <h3>Kontakt</h3>
                        <p>
                            {{ AboutContact.location|default:"-" }}<br><br>
                            <strong>Telefon raqam:</strong> {{ AboutContact.contact_num|default:"-" }}<br>
                            <strong>Email po'chta:</strong> {{ AboutContact.email|default:"-" }}<br>
                        </p>
                        <div class="social-links mt-3">
                            {% if AboutContact.twitter is not None %}
                                <a href="{{ AboutContact.twitter }}" target="_blank" class="twitter"><i
                                        class="bx bxl-twitter"></i></a>
                            {% endif %}

                            {% if AboutContact.facebook is not None %}
                                <a href="{{ AboutContact.facebook }}" target="_blank" class="facebook"><i
                                        class="bx bxl-facebook"></i></a>
                            {% endif %}

                            {% if AboutContact.instagram is not None %}
                                <a href="{{ AboutContact.instagram }}" target="_blank" class="instagram"><i
                                        class="bx bxl-instagram"></i></a>
                            {% endif %}

                            {% if AboutContact.skype is not None %}
                                <a href="{{ AboutContact.skype }}" target="_blank" class="google-plus"><i
                                        class="bx bxl-skype"></i></a>
                            {% endif %}

                            {% if AboutContact.linkedin_box is not None %}
                                <a href="{{ AboutContact.linkedin_box }}" target="_blank" class="linkedin"><i
                                        class="bx bxl-linkedin"></i></a>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 d-flex align-items-stretch">
                    <div class="link-info">
                        <div class="icon"><i class="bx bi-link-45deg"></i></div>
                        <h4>Foydali linklar</h4>

                        <div class="active-icon">
                            <i class="bx bi-toggle-on"></i>
                            <strong><a href="#about">Bosh sahifa</a></strong>
                        </div>
                        <br>

                        <div class="disactive-icon">
                            <i class="bx bi-toggle-off"></i>
                            <a href="{% url 'staff' %}">Hodimlar</a>
                        </div>
                        <br>

                        <div class="disactive-icon">
                            <i class="bx bi-toggle-off"></i>
                            <a href="{% url 'news' %}">Yangiliklar</a>
                        </div>
                        <br>

                        <div class="disactive-icon">
                            <i class="bx bi-toggle-off"></i>
                            <a href="{% url 'galary' %}">Gallereya</a>
                        </div>
                        <br>

                        <div class="disactive-icon">
                            <i class="bx bi-toggle-off"></i>
                            <a href="{% url 'contact' %}">Kontakt</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container" style="background-color: rgba(0, 0, 0, 0.88)">
        <div class="my-2 text-center" style="border-top: 1px solid #262626;"></div>
        <div class="text-center" style="font-size: 20px;color: rgba(231, 228, 228, 0.925);">
            The site is designed by student <strong>Bakhodriov Shakhzod</strong> in <strong><a
                href="https://ba.uz/uz/"
                target="_blank"
                style="color:rgba(231, 228, 228, 0.925);text-decoration: none;">NAPA
            Team</a></strong>
        </div>
    </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>
<div id="preloader"></div>

<!-- Vendor JS Files -->
<script src="{% static 'style/vendor/aos/aos.js' %}"></script>
<script src="{% static 'style/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'style/vendor/glightbox/js/glightbox.min.js' %}"></script>
<script src="{% static 'style/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'style/vendor/php-email-form/validate.js' %}"></script>
<script src="{% static 'style/vendor/swiper/swiper-bundle.min.js' %}"></script>

<!-- Template Main JS File -->
<script src="{% static 'style/js/main.js' %}"></script>

</body>

</html>