<!DOCTYPE html>

{% load static %}

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Bolalar-Bog'chasi</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="{% static 'style/img/Favicon.png' %}" rel="icon">
    <link href="{% static 'style/img/AppleTouchIcon.png' %}" rel="apple-touch-icon">

    <!-- Vendor CSS Files -->
    <link href="{% static 'style/vendor/aos/aos.css' %}" rel="stylesheet">
    <link href="{% static 'style/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'style/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'style/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'style/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'style/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{% static 'style/css/style.css' %}" rel="stylesheet">

</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

        <h1 class="logo"><a href="{% url 'about' %}">Bolalar-Bog'chasi</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo"><img src="style/img/logo.png" alt="" class="img-fluid"></a>-->

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto" href="{% url 'about' %}">Bosh sahifa</a></li>
                <li><a class="nav-link scrollto" href="{% url 'staff' %}">Hodimlar</a></li>
                <li><a class="nav-link scrollto" href="{% url 'news' %}">Yangiliklar</a></li>
                <li><a class="nav-link scrollto " href="{% url 'galary' %}">Gallereya</a></li>
                <li><a class="nav-link {% if request.path == '/contact/' %}active{% endif %}"
                       href="#contact">Kontakt
                </a></li>
                <li><a class="nav-link scrollto" href="/admin/" target="_blank">Admin</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
        <h1>{{ Banner.title|default:"-" }}</h1>
        {% if Banner.message is not None %}
            <h2>{{ Banner.message }}</h2>
        {% endif %}
    </div>
</section><!-- End Hero -->

<main id="main">
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container">
            <div class="section-title">
                <span>Kontakt</span>
                <h2>Kontakt</h2>
                <p>Bizga o'z savol va habaringizni jo'nating</p>
            </div>

            <div class="row" data-aos="fade-up">
                <div class="col-lg-6">
                    <div class="info-box mb-4">
                        <i class="bx bx-map"></i>
                        <h3>Manzil</h3>
                        <p>{{ AboutContact.location|default:"-" }}</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="info-box  mb-4">
                        <i class="bx bx-envelope"></i>
                        <h3>Email po'chta</h3>
                        <p>{{ AboutContact.email|default:"-" }}</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="info-box  mb-4">
                        <i class="bx bx-phone-call"></i>
                        <h3>Telefon raqam</h3>
                        <p>{{ AboutContact.contact_num|default:"-" }}</p>
                    </div>
                </div>
            </div>

            <div class="row" data-aos="fade-up">

                <div class="col-lg-12">
                    <iframe class="mb-4 mb-lg-0"
                            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621"
                            frameborder="0" style="border:0; width: 100%; height: 384px;" allowfullscreen>
                    </iframe>
                </div>

                <div class="col-lg-12">
                    <form method="POST" role="form" class="input-form">
                        {% if Is_Send is True %}
                            <h1>Habaringiz yuborildi!</h1>
                        {% else %}
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <input type="text" name="name" class="form-control" id="name"
                                           placeholder="Ism" required>
                                </div>

                                <div class="col-md-6 form-group mt-3 mt-md-0">
                                    <input type="text" name="phone_number" class="form-control" id="phone_number"
                                           placeholder="Telefon raqam (+998555555555)" required>
                                </div>
                            </div>
                            <div class="form-group mt-3">
                                <textarea class="form-control" name="message" rows="5" placeholder="Habar"
                                          required></textarea>
                            </div>

                            {% if Is_Phone_Error is True %}
                                <div class="error-message my-1">
                                    Kiritilgan telefon raqamingiz notog'ri formatlangan!
                                </div>
                            {% endif %}

                            <div class="text-center my-2">
                                <button type="submit">Yuborish</button>
                            </div>
                        {% endif %}
                    </form>
                </div>

            </div>

        </div>
    </section><!-- End Contact Section -->
</main>

<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="footer-info">
                        <img src="{% static 'style/img/Toy.png' %}" class="img-fluid" alt="">
                        <br>
                        <br>
                        <h3>Kontakt</h3>
                        <p>
                            {{ AboutContact.location|default:"-" }}<br><br>
                            <strong>Telefon raqam:</strong> {{ AboutContact.contact_num|default:"-" }}<br>
                            <strong>Email po'chta:</strong> {{ AboutContact.email|default:"-" }}<br>
                        </p>
                        <div class="social-links mt-3">
                            {% if AboutContact.twitter is not None %}
                                <a href="{{ AboutContact.twitter }}" target="_blank" class="twitter"><i
                                        class="bx bxl-twitter"></i></a>
                            {% endif %}

                            {% if AboutContact.facebook is not None %}
                                <a href="{{ AboutContact.facebook }}" target="_blank" class="facebook"><i
                                        class="bx bxl-facebook"></i></a>
                            {% endif %}

                            {% if AboutContact.instagram is not None %}
                                <a href="{{ AboutContact.instagram }}" target="_blank" class="instagram"><i
                                        class="bx bxl-instagram"></i></a>
                            {% endif %}

                            {% if AboutContact.skype is not None %}
                                <a href="{{ AboutContact.skype }}" target="_blank" class="google-plus"><i
                                        class="bx bxl-skype"></i></a>
                            {% endif %}

                            {% if AboutContact.linkedin_box is not None %}
                                <a href="{{ AboutContact.linkedin_box }}" target="_blank" class="linkedin"><i
                                        class="bx bxl-linkedin"></i></a>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6">
                    <div class="link-info">
                        <div class="icon"><i class="bx bi-link-45deg"></i></div>
                        <h4>Foydali linklar</h4>
                        <div class="disactive-icon">
                            <i class="bx bi-toggle-off"></i>
                            <a href="{% url 'about' %}">Bosh sahifa</a>
                        </div>
                        <br>

                        <div class="disactive-icon">
                            <i class="bx bi-toggle-off"></i>
                            <a href="{% url 'staff' %}">Hodimlar</a>
                        </div>
                        <br>

                        <div class="disactive-icon">
                            <i class="bx bi-toggle-off"></i>
                            <a href="{% url 'news' %}">Yangiliklar</a>
                        </div>
                        <br>

                        <div class="disactive-icon">
                            <i class="bx bi-toggle-off"></i>
                            <a href="{% url 'galary' %}">Gallereya</a>
                        </div>
                        <br>

                        <div class="active-icon">
                            <i class="bx bi-toggle-on"></i>
                            <strong><a href="{% url 'contact' %}">Kontakt</a></strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container" style="background-color: rgba(0, 0, 0, 0.88)">
        <div class="my-2 text-center" style="border-top: 1px solid #262626;"></div>
        <div class="text-center" style="font-size: 20px;color: rgba(231, 228, 228, 0.925);">
            The site is designed by student <strong>Bakhodriov Shakhzod</strong> in <strong><a
                href="https://ba.uz/uz/"
                target="_blank"
                style="color:rgba(231, 228, 228, 0.925);text-decoration: none;">NAPA
            Team</a></strong>
        </div>
    </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>
<div id="preloader"></div>

<!-- Vendor JS Files -->
<script src="{% static 'style/vendor/aos/aos.js' %}"></script>
<script src="{% static 'style/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'style/vendor/glightbox/js/glightbox.min.js' %}"></script>
<script src="{% static 'style/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'style/vendor/php-email-form/validate.js' %}"></script>
<script src="{% static 'style/vendor/swiper/swiper-bundle.min.js' %}"></script>

<!-- Template Main JS File -->
<script src="{% static 'style/js/main.js' %}"></script>

</body>

</html>